<!DOCTYPE html>
<html lang="zh-CN"
	  xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8" />
		<title>主页</title>
	</head>
	
	<body>
		<p></p>
		<script th:src="@{/static/js/jquery.min.js}"></script>
		<script th:src="@{/static/js/bootstrap.min.js}"></script>
		<script type="text/javascript">
			$.ajax({
				url: "/user/list",
				dataType: "json",
				data: {page: "1", size: "1"},
				success: function(res) {
					console.log(res.data.list);
					$("p").text(res.data.list[0].userName);
				},
				error: function(res) {
					alert("失败");
				}
			});
		</script>
	</body>
</html>